@model Demo2_WebApp.Models.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>
            
        </p>
    </div>
</section>
}
<section class="features">
    <section class="feature">
        <ul>
            @foreach(var personAndNumberOfTasks in Model.TasksPerPerson)
            {
                <li>@personAndNumberOfTasks.Owner.Name - @personAndNumberOfTasks.Count</li> 
            }
        </ul>
    </section>
    <section class="feature">
        <ul>
            <li>
                @Html.ActionLink("Todos os projectos", "Index","Project")
            </li>
            <li>
                @Html.ActionLink("Projecto 1", "Details", "Project", new { id = 1 }, new object())
            </li>
            <li>
                @Html.ActionLink("Projecto 2", "Details", "Project", new { id = 2 }, new object())
            </li>
        </ul>
    </section>
    <section class="feature">
 
    </section>
</section>
